# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
scikit-learn

# tests/linter
black
coverage
flake8
pytest
yapf

# API
gcsfs
google-cloud-storage
mlflow
s3fs

# utilities
six>=1.14
joblib
memoized-property
termcolor

#nuevas
IPython.display
os
pathlib
matplotlib.pyplot
opencv
cv2
tensorflow.keras.utils
sklearn.preprocessing
google.colab
tensorflow.keras.preprocessing.image
tensorflow.keras.applications.ResNet50
tensorflow.keras.layers
tensorflow.keras.optimizers
